.video-section .pattern-overlay {
  height: 100vh;
  margin-top: -72px;
  background-color: rgba(71, 71, 71, 0.59);
  padding: 110px 0 32px;
  min-height: 496px;
  /* Incase of overlay problems just increase the min-height*/

}
.video-section h1,
.video-section h3 {
  text-align: center;
  color: #fff;
}
.video-section h1 {
  font-size: 110px;
  font-family: 'Buenard', serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 40px auto 0px;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3 {
  font-size: 25px;
  font-weight: lighter;
  margin: 0px auto 15px;
}
.video-section .buttonBar {
  display: none;
}
.player {
  font-size: 1px;
}
.btn-circle {
  position: absolute;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  top: 450px;
  margin: 0 auto;
  padding: 0px 11px;
  border: 1px solid #ffffff;
  border-radius: 35px;
  font-size: 34px;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover {
  color: #0099a8;
}
.logo {
  width: 250px;
}
.navbar {
  z-index: 99;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  top: 12px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #0099a8;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width: 370px;
  }
}
.none-visible {
  visibility: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.transition {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
@font-face {
  font-family: goodfoot;
  src: url(fonts/goodfoot.woff);
  font-weight: 400;
}
.content-section h1 {
  font-family: goodfoot;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 40px;
}
.form-group-home {
  width: 80%;
  margin: 0 auto;
  bottom: 40px;
}
.form-group-home label.glyphicon.glyphicon-search {
  right: 10px;
  width: 100%;
  text-align: right;
  top: -24px;
  color: #0099a8;
}
.form-group-home .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  background-color: transparent!important;
  background-image: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.actividades {
  padding: 50px 0 50px 0;
  text-align: center;
}
.actividades hr {
  border-top: 2px solid #000;
  width: 50%;
}
.actividades h1 {
  font-weight: 200;
}
.grid .grid-container {
  margin-right: 0;
  margin-left: 0;
}
.grid .grid-container .cover-card {
  border-bottom: 2px solid white;
  background: silver;
  padding: 0px;
  margin: 0px;
  height: 220px;
}
.grid .grid-container .cover-card > p {
  text-align: center;
  background-color: rgba(6, 6, 6, 0);
  color: rgba(6, 6, 6, 0);
  width: 100%;
  height: 100%;
  font-weight: 200;
  font-size: 40px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-family: goodfoot;
}
.grid .grid-container .cover-card > p span {
  float: left;
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid;
  width: 50px;
  border-radius: 50px;
  height: 50px;
  padding-top: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.grid .grid-container .cover-card > p span:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.grid .grid-container .cover-card:hover > p {
  background-color: rgba(6, 6, 6, 0.5);
  color: #0099a8;
  padding: 40px;
}
@media (min-width: 420px) {
  .form-group-home {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .form-group-home {
    width: 30%;
  }
}
.bg {
  height: 250!important;
  margin-top: -72px;
  background-color: transparent!Important;
  padding: 110px 0 32px;
  background: url(../img/wheel.png) no-repeat center center;
}
.resultats {
  padding: 50px 0 50px 0;
  text-align: left;
}
.dropdown {
  margin-bottom: 30px;
}
.btn-drop {
  color: #000000;
  background-color: #ffffff;
  border-color: #0099a8;
}
.chair {
  margin-bottom: 40px;
}
.mask {
  background-color: white;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.info {
  position: absolute;
  bottom: 0;
  color: #000000;
}
.name {
  z-index: 11;
  opacity: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-weight: 200;
}
ul.precios {
  font-weight: 600;
  z-index: 11;
  opacity: 0;
  position: relative;
  padding: 0;
  text-transform: uppercase;
}
ul.precios li {
  display: inline;
}
.valoracion {
  font-weight: 200;
  z-index: 11;
  opacity: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
}
a {
  background-color: transparent !important;
  color: #555555;
}
a:hover {
  text-decoration: none;
}
a:hover .mask {
  opacity: 0.75;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}
a:hover .name {
  -webkit-animation: fadeup 0.2s ease-out;
  -moz-animation: fadeup 0.2s ease-out;
  animation: fadeup 0.2s ease-out;
  opacity: 1;
}
a:hover .valoracion {
  -webkit-animation: fadeup 0.2s ease-out;
  -moz-animation: fadeup 0.2s ease-out;
  animation: fadeup 0.2s ease-out;
  opacity: 1;
}
a:hover .precios {
  -webkit-animation: fadeup 0.2s ease-out;
  -moz-animation: fadeup 0.2s ease-out;
  animation: fadeup 0.2s ease-out;
  opacity: 1;
}
.product {
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
a:hover .product {
  opacity: 0;
}
.footer {
  padding: 50px 0 50px 0;
}
.footer .discubre {
  margin-bottom: 30px;
}
.footer h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 600;
}
.footer ul,
.footer li {
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}
.footer ul a,
.footer li a {
  color: #000000;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.footer ul a:hover,
.footer li a:hover {
  color: #0099a8;
  text-decoration: none;
}
.footer ul.social {
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}
.footer ul.social li {
  display: inline;
  text-align: center;
}
.footer ul.social a {
  color: #0099a8;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  padding: 16px;
}
.footer ul.social a:hover {
  color: #000000;
  text-decoration: none;
}
.footer ul.log {
  padding: 0;
  margin-bottom: 10px;
}
.footer ul.log li {
  text-align: left;
}
.footer ul.log li a.btn-primary {
  color: #fff;
  background-color: #0099a8 !important;
  border-color: #0099a8;
  text-align: left;
}
.footer ul.log li a.btn-primary i {
  margin-right: 20px;
}
.footer ul.log li #imaginary_container {
  margin-top: 20%;
  /* Don't copy this */

}
.footer ul.log li .stylish-input-group .input-group-addon {
  background: white !important;
}
.footer ul.log li .stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}
.footer ul.log li .stylish-input-group button {
  border: 0;
  background: transparent;
}
.footer ul.log li .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #0099a8;
  background-color: transparent!important;
  background-image: none;
  border: 1px solid #0099a8;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.footer ul.log li .glyphicon {
  color: #0099a8;
  position: relative;
  top: -25px;
  left: 12px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer ul.log li .icon-addon {
  margin-bottom: -24px;
}
.footer .rights {
  padding-top: 20px;
  font-weight: 600;
  text-align: center;
}
.product-view {
  margin-top: 50px;
}
.product-view img {
  margin-bottom: 50px;
  border-radius: 5px;
}
.product-view .claim {
  font-family: goodfoot;
  font-size: 24px;
  color: #0099a8;
  text-align: center;
  line-height: 35px;
  margin-bottom: 30px;
}
.product-view h1 {
  text-transform: uppercase;
  font-weight: 200;
}
.product-view h3 {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.product-view p {
  font-weight: 200;
  line-height: 20px;
  text-align: justify;
  font-size: 12px;
}
.product-view ul.precios {
  font-weight: 400;
  z-index: 11;
  opacity: 1!important;
  position: relative;
  padding: 0;
  text-transform: uppercase;
}
.product-view ul.precios li {
  display: inline;
  font-size: 20px;
  padding-right: 25px;
}
.product-view ul.precios li a:hover {
  color: #0099a8;
}
.product-view span i.fa-twitter {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #4099FF;
}
.product-view span i.fa-facebook {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #3B5998;
}
.product-view .commenter {
  display: block;
  font-size: 12px;
  color: #000000;
  font-weight: 600;
}
.product-view .tag {
  font-size: 12px;
  color: #0099a8;
  font-weight: 600;
}
.product-view .buttons {
  tex-align: center;
}
.product-view .buttons .btn-icon {
  color: #0099a8;
  border: 2px solid gray;
  border-radius: 50px;
  background: #ffffff;
  width: 60px;
  height: 60px;
  line-height: 40px;
  font-size: 20px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.product-view .buttons .btn-icon:hover {
  border: 2px solid #0099a8;
  background: #0099a8 !important;
  color: #ffffff;
}
.product-view .centered {
  text-align: center;
}
.product-view .centered .btn-mas {
  color: #0099a8;
  border: 2px solid #0099a8;
  border-radius: 50px;
  background: #ffffff;
  width: 80px;
  height: 80px;
  padding: 20px 0px 0px 0px;
  font-size: 12px;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  margin-top: 20px;
  text-transform: uppercase;
}
.product-view .centered .btn-mas:hover {
  border: 2px solid #0099a8;
  background: #0099a8 !important;
  color: #ffffff;
}
.product-view .info {
  position: absolute;
  top: 35%;
  color: #000000;
  width: 100%;
}
.product-view .view {
  z-index: 11;
  opacity: 0;
  position: absolute;
  text-align: center;
  font-weight: 200;
  border: 2px solid #000000;
  line-height: 45px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 50px;
}
.product-view a:hover .view {
  -webkit-animation: fadeup 0.2s ease-out;
  -moz-animation: fadeup 0.2s ease-out;
  animation: fadeup 0.2s ease-out;
  opacity: 1;
}
.modal-content {
  border-radius: 0px!important;
  border: 0px !important;
}
.modal-content .modal-body {
  padding: 30px;
}
.modal-content .modal-body .title {
  font-family: goodfoot;
}
.modal-content .modal-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.modal-content .modal-footer {
  text-align: center;
}
.modal-content .modal-footer .btn-visit {
  color: #fff;
  background-color: #0099a8;
  border-color: #0099a8;
  text-transform: uppercase;
  width: 30%;
}
#login button.close {
  /* -webkit-appearance: none; */

  /* padding: 0; */

  /* cursor: pointer; */

  /* background: transparent; */

  /* border: 0; */

}
#login .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  /* text-shadow: 0 1px 0 #fff; */

  filter: alpha(opacity=20);
  opacity: 1!important;
  background: #fff;
  border: 1px solid black;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
#login .modal-title {
  margin: 0;
  line-height: 1.42857143;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#login .modal-body #loginForm {
  width: 70%;
  margin: 0 auto;
}
#login .modal-body #loginForm .form-control {
  border: 1px solid #000000 !important;
}
#login .modal-body #loginForm .btn-login {
  border: 1px solid #000000;
  width: 80px;
  height: 80px;
  font-weight: 200;
  border-radius: 50px;
  text-transform: uppercase;
  line-height: 60px;
  color: #000000;
  display: block;
  left: 0;
  right: 0;
  position: relative;
  margin: 0 auto;
}
#login .modal-footer {
  text-align: center;
  font-weight: 200;
  font-size: 12px;
}
#login .modal-footer a {
  color: #0099a8;
}
