.footer {
  padding:50px 0 50px 0;

  .discubre {
    margin-bottom:30px;
  }

  h3 {
    text-transform:uppercase;
    margin-bottom:30px;
    font-weight:600;
  }

  ul,li {
    padding:0;
    list-style:none;
    margin-bottom:10px;

    a {
      color:@black;
      .transition();

      &:hover {
        color:@green;
        text-decoration:none;
      }
    }
  }

  ul.social {
    padding: 0;
    list-style:none;
    margin-bottom:10px;

    li {
      display:inline;
      text-align:center;
    }

    a {
      color:@green;
      .transition();
      padding:16px;

      &:hover {
        color:@black;
        text-decoration:none;
      }
    }
  }

  ul.log {
    padding: 0;
    margin-bottom:10px;

    li {
      text-align:left;

      a.btn-primary {
        color: #fff;
        background-color: @green!important;
        border-color: @green;
        text-align:left;


        i {
          margin-right:20px;
        }
      }

      #imaginary_container{
          margin-top:20%; /* Don't copy this */
      }
      .stylish-input-group .input-group-addon{
          background: white !important;
      }
      .stylish-input-group .form-control{
        border-right:0;
        box-shadow:0 0 0;
        border-color:#ccc;
      }
      .stylish-input-group button{
          border:0;
          background:transparent;
      }

      .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 30px;
        font-size: 14px;
        line-height: 1.42857143;
        color: @green;
        background-color: transparent!important;
        background-image: none;
        border: 1px solid @green;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }
      .glyphicon {
        color:@green;
        position: relative;
        top: -25px;
        left: 12px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .icon-addon {
        margin-bottom: -24px;
      }
    }
  }

  .rights {

    padding-top:20px;
    font-weight:600;
    text-align:center;
  }
}