.modal-content {
  border-radius: 0px!important;
  border: 0px !important;

  .modal-body {
    padding: 30px;

    .title {
      font-family: goodfoot;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size:@sm;
      line-height:20px;
    }
  }
  .modal-footer {
    text-align:center;
    .btn-visit {
      color: #fff;
      background-color: @green;
      border-color: @green;
      text-transform:uppercase;
      width: 30%;
    }
  }
}


#login {

  button.close {
    /* -webkit-appearance: none; */
    /* padding: 0; */
    /* cursor: pointer; */
    /* background: transparent; */
    /* border: 0; */
  }
  .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    /* text-shadow: 0 1px 0 #fff; */
    filter: alpha(opacity=20);
    opacity: 1!important;
    background: #fff;
    border: 1px solid black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }
  .modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  .modal-body {
    #loginForm{
      width:70%;
      margin:0 auto;

      .form-control {
        border: 1px solid @black!important;
      }

      .btn-login {
        border:1px solid @black;
        width:80px;
        height:80px;
        font-weight:200;
        border-radius:50px;
        text-transform:uppercase;
        line-height:60px;
        color: @black;
        display: block;
        left: 0;
        right: 0;
        position: relative;
        margin: 0 auto;
      }
    }
  }

  .modal-footer {
    text-align:center;
    font-weight:200;
    font-size:@sm;

    a {
      color:@green;
    }
  }
}