.logo {
  width: 250px;
}

.navbar {
  z-index:99;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: @white;
  .transition();
  top: 12px;

  &:hover {
    color:@green;
  }
}

@media (min-width: 768px){
  .navbar-nav{
      float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      width:370px;
  }
}

.none-visible {
  visibility:hidden;
}