.product-view {
  margin-top:50px;

  img {
    margin-bottom:50px;
    border-radius:5px;
  }

  .claim {
    font-family: goodfoot;
    font-size:@lg;
    color:@green;
    text-align:center;
    line-height:35px;
    margin-bottom:30px;
  }

  h1 {
    text-transform:uppercase;
    font-weight:200;
  }

  h3 {
    margin-top:30px;
    text-transform:uppercase;
    font-weight:600;
  }

  p {
    font-weight:200;
    line-height:20px;
    text-align:justify;
    font-size:@sm;
  }

  ul.precios {
    font-weight:400;
    z-index: 11;
    opacity: 1!important;
    position: relative;
    padding:0;
    text-transform:uppercase;

    li {
      display:inline;
      font-size:20px;
      padding-right:25px;

      a:hover {
        color:@green;
      }
    }
  }

  span {
    i.fa-twitter{
      display: block;
      margin-bottom: 10px;
      font-size: @md;
      color:#4099FF;
    }

    i.fa-facebook{
      display: block;
      margin-bottom: 10px;
      font-size: @md;
      color:#3B5998;
    }
  }

  .commenter {
    display: block;
    font-size: @sm;
    color:@black;
    font-weight:600;
  }

  .tag {
    font-size: @sm;
    color:@green;
    font-weight:600;
  }

  .buttons {
    tex-align:center;
    .btn-icon {
      color: @green;
      border: 2px solid gray;
      border-radius: 50px;
      background:@white;
      width: 60px;
      height: 60px;
      line-height: 40px;
      font-size: 20px;
      margin-top:10px;
      .transition();

      &:hover {
        border:2px solid @green;
        background:@green!important;
        color:@white;
      }
    }
  }

  .centered {
    text-align:center;
    .btn-mas {
      color: #0099a8;
      border: 2px solid #0099a8;
      border-radius: 50px;
      background: #ffffff;
      width: 80px;
      height: 80px;
      padding: 20px 0px 0px 0px;
      font-size: 12px;
      margin: 0 auto;
      .transition();
      margin-top: 20px;
      text-transform: uppercase;

      &:hover {
        border:2px solid @green;
        background:@green!important;
        color:@white;
      }
    }
  }

  .info {
    position:absolute;
    top:35%;
    color:@black;
    width:100%;
  }
  .view {
    z-index: 11;
    opacity: 0;
    position: absolute;
    text-align: center;
    font-weight:200;
    border:2px solid @black;
    line-height: 45px;
    width:50px;
    height:50px;
    margin:0 auto;
    left:0;
    right:0;
    border-radius:50px;
  }

  a:hover .view{
    -webkit-animation: fadeup 0.2s ease-out;
    -moz-animation: fadeup 0.2s ease-out;
    animation: fadeup 0.2s ease-out;
    opacity: 1;
  }

}



