.bg {
  height: 250!important;
  margin-top: -72px;
  background-color: transparent!Important;
  padding: 110px 0 32px;
  background: url(../img/wheel.png) no-repeat center center;
}


.resultats {
  padding: 50px 0 50px 0;
  text-align: left;
}

.dropdown {
  margin-bottom:30px;
}

.btn-drop {
  color: @black;
  background-color:@white;
  border-color: @green;
}

.chair {
  margin-bottom:40px;
}

.mask {
  background-color: white;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.info {
  position:absolute;
  bottom:0;
  color:@black;
}

.name {
  z-index: 11;
  opacity: 0;
  position: relative;
  text-align: left;
  text-transform:uppercase;
  font-weight:200;
}

ul.precios {
  font-weight:600;
  z-index: 11;
  opacity: 0;
  position: relative;
  padding:0;
  text-transform:uppercase;

  li {
    display:inline;
  }
}

.valoracion {
  font-weight:200;
  z-index: 11;
  opacity: 0;
  position: relative;
  text-align: left;
  text-transform:uppercase;
  font-size:@sm;
}


a {
  background-color: transparent !important;
  color: #555555;
  &:hover {
    text-decoration:none;
  }
}

a:hover .mask {
  opacity: 0.75;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}

a:hover .name{
  -webkit-animation: fadeup 0.2s ease-out;
  -moz-animation: fadeup 0.2s ease-out;
  animation: fadeup 0.2s ease-out;
  opacity: 1;
}

a:hover .valoracion{
  -webkit-animation: fadeup 0.2s ease-out;
  -moz-animation: fadeup 0.2s ease-out;
  animation: fadeup 0.2s ease-out;
  opacity: 1;
}

a:hover .precios {
  -webkit-animation: fadeup 0.2s ease-out;
  -moz-animation: fadeup 0.2s ease-out;
  animation: fadeup 0.2s ease-out;
  opacity: 1;
}

.product{
  color:@black;
  text-transform:uppercase;
  font-size:@sm;
  font-weight:600;
}

a:hover .product {
  opacity: 0;
}

.footer {

}

