.content-section {
  h1{
    font-family: goodfoot;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 40px;
  }
}

.form-group-home {
  width: 80%;
  margin: 0 auto;
  bottom: 40px;

  label.glyphicon.glyphicon-search {
    right: 10px;
    width: 100%;
    text-align: right;
    top: -24px;
    color: @green;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: @white;
    background-color: transparent!important;
    background-image: none;
    border: 1px solid @white;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
}


.actividades {
  padding: 50px 0 50px 0;
  text-align: center;

  hr {
    border-top: 2px solid #000;
    width: 50%;
  }

  h1 {
    font-weight:200;
  }
}

.grid {
  .grid-container {
    margin-right: 0;
    margin-left: 0;
    .cover-card {
      border-bottom: 2px solid white;
      background: silver;
      padding: 0px;
      margin: 0px;
      height:220px;
    }
    .cover-card > p {
      text-align: center;
      background-color: rgba(6,6,6,0.0);
      color: rgba(6,6,6,0.0);
      width: 100%;
      height: 100%;
      font-weight: 200;
      font-size: 40px;
      .transition();
      cursor: pointer;
      font-family: goodfoot;


      span {
        float: left;
        position: absolute;
        top: 115px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border: 1px solid;
        width: 50px;
        border-radius: 50px;
        height: 50px;
        padding-top: 15px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: @sm;
        font-weight: 400;

        &:hover{
          border: 1px solid @white;
          color:@white;
        }
      }

    }
    .cover-card:hover > p {
      background-color: rgba(6,6,6,0.5);
      color: @green;
      padding: 40px;
    }
  }

}

@media (min-width:420px){
  .form-group-home {
    width: 70%;
  }
}

@media (min-width:768px){
  .form-group-home {
    width: 30%;
  }
}