// Variables
body {
  font-family: 'Open Sans', sans-serif;
}


@brand-primary: #0099a8;
@black:#000;
@white: #fff;
@green: #0099a8;

@lg:24px;
@md:18px;
@sm:12px;

.transition {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

@font-face {
    font-family: goodfoot;
    src: url(fonts/goodfoot.woff);
    font-weight:400;
}


