.video-section .pattern-overlay {
  height: 100vh;
  margin-top: -72px;
  background-color: rgba(71, 71, 71, 0.59);
  padding: 110px 0 32px;
  min-height: 496px;
  /* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
  text-align:center;
  color:#fff;
}
.video-section h1{
  font-size:110px;
  font-family: 'Buenard', serif;
  font-weight:bold;
  text-transform: uppercase;
  margin: 40px auto 0px;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
  font-size: 25px;
  font-weight:lighter;
  margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.btn-circle {
  position: absolute;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  top: 450px;
  margin: 0 auto;
  padding: 0px 11px;
  border: 1px solid @white;
  border-radius: 35px;
  font-size: 34px;
  background-color: transparent;
  color: @white;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;

  &:hover {
    color:@green;
  }
}