

/* navbar */
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #0099a8;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out
}

.logo {
  width: 220px;
  margin-top: -8px;
}

/* general */

#menu-toggle {
  color:#0099a8;
}

.dataTable_wrapper {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

.count {
  color:#0099a8;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

tr:hover {
  background-color: #f5f5f5;
}

th {
  background-color: #fff;
  text-align: center;
  font-weight: 400;
}

td {
  background-color: #fff;
  text-align: center;
  vertical-align: middle!important;
  font-weight: 200;
}


td > img {
  max-width: 80px!important;
  margin: 0 auto;
}

td > a {
  color:#0099a8;
  text-decoration: none!important;
  cursor: pointer;
}

.btn {
  font-family: 'Open Sans', sans-serif;
}

a.btn.btn-circle {
  background: #0099a8;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: #fff;
  padding: 4px;
}

a.btn.btn-circle:hover {
  background: #f1f1f1;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: #0099a8;
  padding: 4px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }
.btn-success {
  background-color: #0099a8;
}

/* modal */

#edit{
  width:100%;
  margin:0 auto;
}
.form-control {
  border: 1px solid #000!important;
}

.btn-success{
  border:1px solid #0099a8!important;
  background-color: #0099a8!important;
}

.btn-success:hover {
  opacity: 0.9;
}

.form-control {
  color:#000;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}